@import url('https://fonts.cdnfonts.com/css/blank-idea');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    font-family: 'Blank Idea', sans-serif;
}

body{
    min-height: 100%;
}
.text-shadow{
    color: #f9d93a;
    text-shadow:
   -4px -4px 0 #0E5393,  
    4px -4px 0 #0E5393,
    -4px 4px 0 #0E5393,
     4px 4px 0 #0E5393;
}

.text-shadow2{
    color: #f3f3f3;
    text-shadow:
   -2px -2px 0 #0E5393,  
    2px -2px 0 #0E5393,
    -2px 2px 0 #0E5393,
     2px 2px 0 #0E5393;
}